{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="{% static './styles/RegisterStyle.css' %}" />
    <script
      type="text/javascript
    "
      src="{% static './js/RegisterJs.js' %}"
    ></script>
  </head>
  <body>
    <div class="logo">
      <a href="./static/templates/Home.html">
        <img src="{% static './images/logo.svg' %}" alt="store logo" />
      </a>
    </div>
    <div class="reg">
      <div class="form-box">
        <h1>CREATE ACCOUNT</h1>
        <form
          class="input"
          onsubmit="return validate()"
          action="register"
          method="POST"
        >
          {% csrf_token %}
          <input
            type="text"
            name="username"
            placeholder="Username"
            id="user"
            required
          />
          <input
            type="text"
            name="email"
            placeholder="Example@gmail.com"
            id="email"
            required
          />
          <input
            type="password"
            name="password1"
            placeholder="Password"
            id="pass1"
            required
          />
          <input
            type="password"
            name="password2"
            placeholder="Confirm Password"
            id="pass2"
            required
          />
          <button type="submit">Register</button>
        </form>
      </div>
    </div>
    <div>
      {% for message in messages %}
      <h3>{{message}}</h3>
      {% endfor %}
    </div>
  </body>
</html>
