{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign IN</title>
    <link rel="stylesheet" href="{% static './styles/SignInStyle.css' %}" />
  </head>
  <body>
    <div class="logo">
      <img src="{% static './images/logo.svg' %}" alt="store logo" />
    </div>
    <form class="log" action="login" method="POST">
      {% csrf_token %}
      <h1>Login</h1>
      <input type="text" placeholder="Username" name="username" required />
      <input type="password" placeholder="Password" name="password" required />
      <input type="submit" value="SIGN IN" />
      <div class="new">
        <h5>-------New to Comfy House--------</h5>
        <a href="register">
          <button type="button">REGISTER</button>
        </a>
      </div>
    </form>
    <div>
      {% for message in messages %}
      <h3>{{message}}</h3>
      {% endfor %}
    </div>
  </body>
</html>
